<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.smart_community.mapper.AreasMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.smart_community.entity.Areas">
        <id column="area_id" property="areaId" />
        <result column="name" property="name" />
        <result column="created_at" property="createdAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        area_id, name, created_at
    </sql>

    <!-- 根据ID查询 -->
    <select id="selectById" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM areas
        WHERE area_id = #{id}
    </select>

    <!-- 查询所有 -->
    <select id="selectList" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM areas
    </select>

    <!-- 插入 -->
    <insert id="insert" parameterType="com.example.smart_community.entity.Areas" useGeneratedKeys="true" keyProperty="areaId">
        INSERT INTO areas
        (name, created_at)
        VALUES
        (#{name}, #{createdAt})
    </insert>

    <!-- 更新 -->
    <update id="updateById" parameterType="com.example.smart_community.entity.Areas">
        UPDATE areas
        SET name = #{name},
            created_at = #{createdAt}
        WHERE area_id = #{areaId}
    </update>

    <!-- 删除 -->
    <delete id="deleteById">
        DELETE FROM areas
        WHERE area_id = #{id}
    </delete>
</mapper> 